QWidget#mainWindow {
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 rgba(189, 195, 199, 255), stop:1 rgba(44, 62, 80, 255));
}

QWidget#board {
    background-color: rgb(220, 220, 220);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(140, 140, 140);
    border-radius: 3px;
}

QLabel#title {
    font: 75px normal "Tahoma";
}

QLabel {
    font: 16px normal "Tahoma";
}

QPushButton, QComboBox {
    background-color: rgba(206, 206, 206, 125);
    font: 16px normal "Tahoma";
}
